.stickyNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    
  }
  
  ul.stickyNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border-radius: 25px;
  }
  li.stickyNav {
    float: left;
  }
  li a:hover {
    background-color: #9626ca;
  }
  
  .active {
    background-color: #eb9c35;
  }


  /* styling for the button */

.baseButton {
    background-color: #000000; /* Change this color code to the desired color */
    color: #fff; /* Optional: Set text color to white or another contrasting color */
}

.baseButton:hover {
    background-color: #ffffff; /* Change this color code to the desired color */
    color: #000000; /* Optional: Set text color to white or another contrasting color */
}